:root {
    --color-body-bg: rgb(21, 21, 21);
    --color-body-light: rgb(31, 31, 31);
    --color-text: #f9f9f9;
    --color-detail: hsl(212deg, 100%, 50%);
    --color-error: rgb(202, 47, 47);

    --text-body: 2.5vw;

    --padding:2.5vw;
    
}

@media (min-width: 768px){
    :root{
        --text-body: 1vw;
    }
}

/*General*/

body{
    background-color: var(--color-body-bg);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-size: var(--text-body);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a{
    text-align: center;
    color: var(--color-text);
    text-decoration: none;
}

.hidden{
    display: none;
}
/*Button Styles*/
.button{
    font-family: "Inter", sans-serif;
    font-size: 1em;
    background-color: transparent;
    min-width: 3em;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 100ms linear;
    cursor: pointer;
}

.button--red{
    background-color: var(--color-error);
    border: solid 2px var(--color-error);
    color: var(--color-text);
}

.button--red:hover{
    background-color: transparent;
}

.button--full{
    background-color: var(--color-detail);
    border: solid 2px var(--color-detail);
    color:var(--color-text);
}

.button--full:hover{
    background-color: var(--color-body-light);
}

.button--empty{
    border: solid 2px var(--color-detail);
    color: var(--color-text);
}

.button--empty:hover{
    background-color: var(--color-detail);
}

/*Navigation*/

nav{
    background-color: var(--color-body-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    height: 2em;
}

.nav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 1em;
}

.nav__image{
    width: auto;
    height: 1.5em;
}

/*Dashboard*/

.dashboard__container{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 30vw));
    grid-auto-rows:minmax(20em, 1fr);
    align-content: center;
    justify-content: center;
    gap: 1em;    
}

.dashboard__card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 90%;
}

.dashboard__card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    border-radius: 5px;
}

.dashboard__card__container--regular{
   position: relative;
}

.dashboard__card__container--add{
    gap: 1em;
}


.dashboard__card--remove{
    font-family: 'Space mono', sans-serif;

    border: solid 1px #464646;
    color: var(--color-text);
    border-radius: 5px;
    transition: border 100ms linear;
}

.dashboard__card--remove:hover{
    border: solid 1px var(--color-error);
}

.dashboard__card--remove:hover .icon--remove{
    background-color: var(--color-error);
}

.dashboard__card{
    border: solid 1px #464646;
    border-radius: 5px;
    background-color: var(--color-body-bg);
    display: flex;
    flex-direction: column;
    transition: border 100ms linear;
    font-family: 'Space mono', sans-serif;
    max-width: 100vw;
}

.dashboard__card__image{
    background-color: white;
    width: 100%;
    max-width: 100vw;
    height: auto;
}

.dashboard__card--add{
    background-color: var(--color-body-light);
    justify-content: center;
    align-items: center;
}

.dashboard__error_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-error);
    border-radius: 5px;
    padding: 1em;
    background-color: var(--color-body-bg);
    display: flex;
    flex-direction: column;
}

.dashboard__card:hover{
    cursor: pointer;
    border: solid 1px var(--color-detail);
}

.dashboard__card:hover .icon--redirect{
    background-color: var(--color-detail);
}

.icons{
    display: flex;
    gap: 1em;
}

.icon{
    border-radius: 100%;
    width: 2em;
    height: 2em;
    min-height: 2rem;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon--redirect{
    border: solid 2px var(--color-detail);
}

.icon--remove{
    border: solid 2px var(--color-error);
}

.icon--remove:hover{
    background-color: var(--color-error);
}

.icon__image{
    min-height: 1rem;
    min-width: 1rem;
    width: 1em;
    height: 1em;
}

/*Input fields - container*/
.input__container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
}


form{
    font-family: 'Space mono', sans-serif;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
form input{
    font-family: 'Space mono', sans-serif;

    background-color: var(--color-body-light);
    border: solid 1px #545454;
    color: var(--color-text);

    width: fit-content;
    min-width: 20em;
    border-radius: 5px;
    padding: 1em;

    margin-bottom: 2em;
}

form input:focus{
    border: solid 1px var(--color-detail);
    background-color: var(--color-body-bg);
    outline: none;
}

form label{
    color: #939393;
}

.form_options{
    align-self: center;
    display: flex;
    gap: 1em;
}